/* Overall Layout with CSS Grid */
.container {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 2fr;
}

/* Flexbox for Flexibility within Grid Items */
.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .container {
    grid-template-rows: 1fr 2fr 1fr;
  }
}


.grid-item .nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center; /* Center the <ul> */
}

.grid-item .nav-list li {
  margin-right: 2%; /* Use percentage-based spacing for proportional growth */
}

.grid-item .nav-list a {
  text-decoration: none;
  color: ;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.grid-item .nav-list a:hover {
  color: #F4CE14; /* Change the color on hover */
}

.grid-item .nav-list img {
  height: 40px;
  margin-right: 2%; /* Use percentage-based spacing for proportional growth */
  align-self: center; /* Center the image vertically with respect to the line height of the text */
}

/* Cart icon and count */
.cart-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.cart-icon {
  display: flex;
  align-items: center;
}

.cart-icon img {
  margin-right: 100px;
}
.cart-count {
  margin-left: 10%; /* Use percentage-based spacing for proportional growth */
}







/* Hero.css */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  height: 400px; /* Set a fixed height for the hero section */
  overflow: hidden; /* Hide overflowing content */
}

.hero-content {
  position: absolute;
  z-index: 1;
}

.hero-image {
  width: 100%; /* Make the image fill the width of its container */
  height: 100%; /* Make the image fill the height of its container */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
}

/* Optional: Gradient Overlay */
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}



/* Menu Specials Section */
.menu-specials-section {
  background-color: #ffffff;
  padding: 70px;
}

/* Menu Specials Container */
.menu-specials {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.menu-special {
  background-color: #EDEFEE;
  padding: 20px;
  border-radius: 20px;
  width: 30%; /* Adjust the width based on your preference */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

/* Menu Special Image */
.menu-special img {
  width: 100%;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* Menu Special Title */
.menu-special h3 {
  color: #333333;
  font-size: 1.5em;
  margin-bottom: 10px;
  height: 60px;
  overflow: hidden;
}

/* Menu Special Description */
.menu-special p {
  color: #666666;
  font-size: 1em;
  line-height: 1.4;
  margin: 20px 0;
  margin-left: 50px;
}

/* Carousel Menu */
/* Adjustments for Carousel Menu */

.menu-special-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.menu-special-content {
  padding: 10px;
  text-align: center;
  max-width: 70%;
  margin: auto;
}


/* Testimonials Section */
.testimonials-section {
  background-color: #495E57; /* Dark blue background for the entire section */
  padding: 50px; /* Add padding for better spacing */
}

/* Testimonials Title */
.testimonials-section h2 {
  color: #F4CE14; /* Yellow text color for the testimonials title */
  font-size: 2em; /* Adjust the font size as needed */
  text-align: center; /* Center the title within the section */
  margin-bottom: 50px; /* Add space between the title and the testimonials */
}

/* Testimonials Container */
.slick-slider {
  width: 100%; /* Ensure the slider takes up the full width of its container */
}

.slick-slide {
  padding: 0 30px; /* Adjust the padding between slides as needed */
}
/* Carousel Dots */
.slick-dots li button {
  color: #F4CE14; /* Change the color of the dots to yellow */
}

.slick-dots li.slick-active button {
  color: #F4CE14; /* Change the color of the active dot to yellow */
}

/* Individual Testimonial Card */
.testimonial {
  background-color: #EDEFEE;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100px; /* Set a fixed height for each testimonial box */
  text-align: center;
  margin-right: -100px;
}

/* Testimonial Text */
.testimonial p {
  color: #495E57; /* Dark blue text color for the testimonials */
  font-size: 1em; /* Adjust the font size as needed */
  line-height: 1.4; /* Adjust line height for better readability */
  margin: 10; /* Remove default margin to prevent extra spacing */
}

/* Testimonial Author */
.testimonial span {
  color: #495E57; /* Dark blue text color for the author */
  font-size: 0.9em; /* Adjust the font size as needed */
  font-style: italic; /* Make the author's name italic */
  display: block; /* Add a line break after the testimonial text */
  margin-top: 10px; /* Add space between the text and the author's name */
}


/* About Restaurant Section */
.ab-restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4ce14;
  padding: 50px;
}

.about-restaurant {
  display: flex;
  flex-direction: row; /* Ensure horizontal layout */
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Ensure full width */
  max-width: 1200px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add padding for better spacing */
}

.text-content {
  color: #495e57;
  max-width: 50%;
  margin-left: 50px;
}

.text-content h2 {
  font-size: 3em;
}

.text-content p {
  color: #495e57;
  font-size: 1.2em;
}

.double-image {
  max-width: 40%; /* Adjust the max-width as needed */
  position: relative;
  z-index: 1;
  margin-top: 13rem; /* Add this line to create space at the top */
}

.double-image img {
  width: 100%;
  height: auto;
  max-width: 100%; /* Add this line */
  object-fit: cover;
  border-radius: 26px;
}

.about-2 {
  position: absolute;
  top: -10.5rem;
  left: 5rem;
}

/* Horizontal Footer Grid */
.grid-item .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-item .footer-section {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid-item .footer-section img {
  height: 40px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.grid-item .footer-section h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: left;
}

.grid-item .footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.grid-item .footer-section li {
  margin-bottom: 5px;
}

.grid-item .footer-section a {
  text-decoration: none;
  color: #495e57;
}

.grid-item .footer-section p {
  margin: 0;
  font-size: 0.9em;
}

/* Carousel Menu */
/* Adjustments for Carousel Menu */

.menu-special-image {
  height: 300px; /* Adjust the height as needed */
  width: 100%; /* Ensure the image takes the full width of its container */
  object-fit: cover; /* Ensure the image covers the container while maintaining its aspect ratio */
}

.menu-special-content {
  padding: 10px; /* Add padding to the content for spacing */
  text-align: center; /* Center-align text content */
  max-width: 90%; /* Limit the width of text content */
  margin: auto; /* Center the content horizontally */
}







/* Menu.css */
.menu-page {
  padding: 20px;
}

.category-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: space-around; /* Center and space buttons equally */
  width: 100%; /* Take up the full width of the container */
}

.category-buttons button {
  flex-grow: 1; /* Allow buttons to grow and shrink equally */
  background-color: #F4CE14;
  color: #495e57;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.category-buttons button:hover {
  background-color: #E0B60A;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.menu-card {
  background-color: #EDEFEE;
  padding: 20px;
  border-radius: 8px;
}
.menu-card-content {
  display: flex;
}

.menu-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Adjust menu-image styles */
.menu-image {
  width: 300px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Adjust menu-details styles */
.menu-details {
  max-width: 50%;
  margin-left: 20px;
}

.menu-details button,
.menu-details h3,
.menu-details p,
.cart-actions button,
.counter button {
  color: #495e57;
}

.cart-actions,
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.counter span {
  color: #495e57;
}




.reservation-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  color: #495e57;
  border-radius: 8px;
  text-align: center; /* Center the text */
}

/* ... Your existing CSS ... */

.form-input {
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #EDEFEE;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-input > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-input label {
  color: #495e57;
  margin-right: 10px;
}

.form-input input,
.form-input select {
  color: #495e57;
  border-radius: 8px;
  border: 1px solid #495e57;
  text-align: center;
  width: 150px;
  padding: 10px;
  margin: 10px;
}

.reserve-button {
  background-color: #F4CE14;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 0 auto; /* Add margin:auto to center the button horizontally */
}

.reserve-button:hover {
  background-color: #E0B60A;
}


.menu-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.avail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.avail-buttons {
  color: #495e57;
  border-radius: 8px;
  border: 1px solid #495e57;
  width: 150px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adding transition for a smooth effect */
}

.avail-buttons:hover {
  background-color: #e0e0e0; /* Change the background color on hover */
}

.avail-buttons.active {
  background-color: #6ab04c; /* Change the background color when the button is clicked */
  color: #fff; /* Change the text color for better visibility */
}

.avail-inputs {
  color: #495e57;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
}

.form-input input[type="checkbox"] {
  margin-right: -65px;
}
.avail-h {
  color: #495e57;
  text-align: center;
}

/* Add or update this style for the progress-bar in your CSS */
.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F4CE14; /* Adjust the color if needed */
  height: 5px; /* Adjust the height of the progress bar */
}

.progress {
  height: 100%;
  width: 0;
  background-color: #495e57; /* Adjust the color if needed */
}


/* Checkout.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.checkout-card {
  background-color: #EDEFEE;
  padding: 10px;
  border-radius: 8px;
}

.checkout-container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.checkout-container h2 {
  color: #333;
}

.checkout-list {
  list-style: none;
  background-color: #EDEFEE;
  padding: 10px;
  border-radius: 8px;
  margin: 0 0 10px; /* Add margin for space between each card */
}

.checkout-container li {
  list-style: none;
  padding: 0;
  background-color: #EDEFEE;
  border-bottom: 1px solid #ddd;

  padding: 10px;
  border-radius: 8px;
  margin: 0 0 20px; /* Add margin for space between each card */
}


.checkout-item {
  display: flex;
  align-items: center;
}

.checkout-image-container {
  margin-right: 20px;
}

.checkout-image {
  width: 300px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.checkout-details {
  flex: 1 1;
  margin-top: 10px;
}

.checkout-details button {
  color: #495e57;
}

.checkout-container p {
  margin: 20px;
}

.checkout-container button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

.checkout-container button:hover {
  background-color: #45a049;
}

.checkout-container .total-price {
  font-weight: bold;
  margin-top: 20px;
}

.quantity-buttons button {
  margin: 0 5px;
}
